<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\$query = '$1';
\$result = &amp;\$db-&gt;Execute(\$query$2);

while (\$result &amp;&amp; !\$result-&gt;EOF)
{
	$0
	\$result-&gt;MoveNext();
}
</string>
	<key>name</key>
	<string>$db-&gt;Execute</string>
	<key>scope</key>
	<string>source.php</string>
	<key>tabTrigger</key>
	<string>dbexec</string>
	<key>uuid</key>
	<string>D8B3D628-B40C-48FB-B0EB-7D8C59E5821E</string>
</dict>
</plist>
